<div class="row">
  <div class="col-md-10 col-md-push-1">
  <%- model_class = Criterium -%>
  <div class="page-header">
    <h1><%=t '.title', :default => "Evaluations".pluralize.titleize %></h1>
  </div>
</div>
 <div class="col-md-10 col-md-push-1">
  <div class="table_container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:school_name) %></th>

        <th><%= model_class.human_attribute_name(:subject) %></th>
        <th><%= model_class.human_attribute_name(:eval_id) %></th>
       

        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @criteria.each do |criterium| %>
        <tr>
          <td><%= link_to criterium.id, criterium_path(criterium) %></td>
          <td><%= criterium.school_name %></td>
       
          <td><%= criterium.subject %></td>
       
          <td><%= criterium.eval_id %></td>

          <td><%=l criterium.created_at %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
      edit_criterium_path(criterium), :class => 'btn btn-success btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        criterium_path(criterium),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_criterium_path,
              :class => 'btn btn-primary' %>
  </div>
</div>
