<!DOCTYPE html>
<html>
<head>
  <title>Evaluation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Teacher Appraisals</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", static_pages_about_path %></li>
                <li><%= link_to "Contact", static_pages_contact_path  %></li>
               
                
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Login <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li> <% if current_user %>
                            <%= link_to "Logout", :logout, method: :post %>
                           <% else %>
                               
                               <%= link_to "Login", :login %>
                           <% end %></li> 
              </ul>
            </div>
          </div>
        </nav>
  
<%= yield %>

      <!-- FOOTER -->
      <footer>
<!--         <p class="pull-right"><a href="#">Back to top</a></p> -->
        <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
</body>
</html>
